# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env

# Data outputs
data/processed/*.csv
artifacts/*.joblib
artifacts/*.pkl
reports/*.png
reports/*.json

# OS/Editor
.DS_Store
.vscode/
.ipynb_checkpoints/
